---
- name: 'Create data folder'
  file:
    dest: '{{ nim_waku_node_db_path }}'
    state: 'directory'
    owner: dockremap
    group: docker
    mode: 0775

- name: 'Create compose file: {{ nim_waku_cont_name }}'
  template:
    src: 'docker-compose.yml.j2'
    dest: '{{ nim_waku_cont_vol }}/docker-compose.yml'
    owner: dockremap
    group: docker
    mode: 0644

# --compatibility flag required for mem/cpu limits
- name: 'Create container: {{ nim_waku_cont_name }}'
  docker_compose:
    project_src: '{{ nim_waku_cont_vol }}'
    pull: true
    state: '{{ compose_state }}'
    restarted: '{{ compose_restart }}'
    recreate: '{{ compose_recreate }}'
