---
# Tag dependent on fleet: test, prod
nim_waku_cont_tag: 'deploy-v2-{{ stage }}'
nim_waku_cont_name: 'nim-waku-v2'
nim_waku_swap_protocol_enabled: true

nim_waku_p2p_tcp_port: 30303
nim_waku_p2p_udp_port: 30303
nim_waku_metrics_port: 8008

# Enable WebSockets via Websockify
nim_waku_websockify_enabled: true
nim_waku_websockify_cont_port: 443
nim_waku_websockify_domain: '{{ dns_entry }}'
nim_waku_websockify_ssl_dir: '/etc/letsencrypt'
nim_waku_websockify_ssl_cert: '/etc/letsencrypt/live/{{ nim_waku_websockify_domain }}/fullchain.pem'
nim_waku_websockify_ssl_key: '/etc/letsencrypt/live/{{ nim_waku_websockify_domain }}/privkey.pem'

# LetsEncrypt via Certbot
certbot_docker_enabled: true
certbot_admin_email: 'devops@status.im'
certbot_certs:
  - domains: [ '{{ nim_waku_websockify_domain }}' ]

# Open LibP2P Ports
open_ports_default_comment: '{{ nim_waku_cont_name }}'
open_ports_default_chain: 'SERVICES'
open_ports_list:
  - { port: '{{ nim_waku_p2p_tcp_port }}',         protocol: 'tcp' }
  - { port: '{{ nim_waku_p2p_udp_port }}',         protocol: 'udp' }
  - { port: '{{ nim_waku_websockify_cont_port }}', protocol: 'tcp' }
  - { port: '80', comment: 'Certbot verification', protocol: 'tcp' }
  - { port: '{{ nim_waku_metrics_port }}',         protocol: 'tcp', chain: 'VPN', ipset: 'metrics.hq' }
