---
- name: Verify Ansible versions
  hosts: all
  tags: always
  become: false
  run_once: true
  gather_facts: false
  tasks:
    - local_action: command ./versioncheck.py
      changed_when: false

- name: Configure Waku Nodes
  hosts:
    - wakuv2-test
    - wakuv2-shards
    - wakuv2-prod
  roles:
    - { role: open-ports, tags: open-ports }
    - { role: swap-file,  tags: swap-file  }
    - { role: conn-limit, tags: conn-limit, when: 'stage != "shards"' }
    - { role: certbot,    tags: certbot,    when: 'stage != "shards"' }
    - { role: nim-waku,   tags: nim-waku   }
